<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Unggun Yulianto</title>
    {% include "snippets/styles.html" %}
  </head>
  <body>
      {% include "snippets/navbar.html" %}
      <img id="pict" src="{% static "pict/me.jpg" %}" alt=""/>
       <h5 align="center" style="margin-top:10px;">Unggun Yulianto</h5>
       <h5 align="center">Yogyakarta, Indonesia</h5>
       <div id="footer">
         <p>POWERED BY M-DHIFTA</p>
       </div>
  </body>
</html>
