<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Contact</title>
    {% include "snippets/about_styles.html" %}
  </head>
  <body>
      {% include "snippets/navbar.html" %}
      <h5 id="teks"><img id="pict" src="{% static "pict/me.jpg" %}" alt=""/>Unggun Yulianto
      </br>Graphic Designer
    </br>Yogyakarta, Indonesia</h5>
    <div id="desk">........................</div>
       <div id="footer">
         <p>POWERED BY M-DHIFTA</p>
       </div>
  </body>
</html>
