<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Contact</title>
    {% include "snippets/styles_contact.html" %}
  </head>
  <body>
      {% include "snippets/navbar.html" %}
      <img id="pict" src="{% static "pict/me.jpg" %}" alt=""/>
       <h4 align="center" style="margin-top:10px;">Unggun Yulianto</h4>
       <h5 align="center">Graphic Designer & Artworker</h5>
       <h6 align="center">Instragram : @unggun.yulianto</h6>
       <h6 align="center">Email      : uuunggunnn@gmail.com</h6>
       <div id="footer">
         <p>POWERED BY M-DHIFTA</p>
       </div>
  </body>
</html>
